/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
	color: #4b4b4b;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



 /*
 *
 *********  *Typography*
 * 
 */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 115%;
}
h1 {
    margin: 30px 0 0 10px;
}
h1 a {
    font-family: 'EB Garamond', Georgia, serif;
    font-size: 200%;
    text-decoration: none;
}
h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
a {
	color: #598F93;
}
.h-border {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}
hr {
	border: none;
	background: #e3e3e3;
	height: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.main-nav a:link {
	color: #828282;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.6em;
	text-decoration: none;
	-webkit-transition: color .25s ease;
	   -moz-transition: color .25s ease;
	    -ms-transition: color .25s ease;
	     -o-transition: color .25s ease;
	        transition: color .25s ease;
}
.main-nav a:visited {
	color: #696969;
}
.main-nav a:hover {
	color: #598f93;
}
.main-nav a.active {
    color: #000;
}
.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.main-nav {
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.main-nav li {
	display: inline;
	margin-right: 15px;
}
.post p {
	margin: 20px 0 20px 0;
	line-height: 1.2em;
}
.post img {
	margin-bottom: 15px;
	max-width: 100%;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
        
        .small-text {
			float: none;
			width: 740px;
			margin-left: 0;
			margin-bottom: 10px;
		}
		.contact input:first-child {
			margin-left: 0;
		}
		.contact .btn {
			float: none;
			padding: 15px;
			width: 748px;
			margin-top: 10px;
		}
		.contact .btn:hover {
			cursor: pointer;
			opacity: 1;
			
		}
		.contact iframe {
			width: 748px;
			opacity: 1;
		}
		.message {
			clear: both;
			float: left;
			padding: 4px;
			width: 738px;
			height: 110px;
			margin-top: 0;
			font-family: sans-serif;
			font-size: 1.2em;
			color: #b3a9a9;
		}
		.contact {
			padding-top: 30px;
		}
	}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
        
        .social a:link{
        	
        }
        .main-nav {
        	text-align: center;
        }
		footer ul {
			display: none;
		}

        .small-text {
			float: none;
			width: 292px;
			margin-left: 0;
			margin-bottom: 10px;
		}
		.contact input:first-child {
			margin-left: 0;
		}
		.contact .btn {
			float: none;
			padding: 15px;
			width: 300px;
			margin-top: 10px;
		}
		.contact .btn:hover {
			cursor: pointer;
			opacity: 1;
			
		}
		.contact iframe {
			width: 300px;
			opacity: 1;
		}
		.message {
			clear: both;
			float: left;
			padding: 4px;
			width: 290px;
			height: 110px;
			margin-top: 0;
			font-family: sans-serif;
			font-size: 1.2em;
			color: #b3a9a9;
		}
		.contact {
			padding-top: 30px;
		}
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
        
        .small-text {
			width: 412px;
		}
		.contact input:first-child {
			margin-left: 0;
		}
		.contact .btn {
			float: none;
			width: 420px;
			margin-top: 10px;
		}
		.contact .btn:hover {
			cursor: pointer;
			opacity: 1;
			
		}
		.contact iframe {
			width: 420px;
			opacity: 1;
		}
		.message {
			width: 410px;
			height: 110px;
			margin-top: 0;
			font-family: sans-serif;
			font-size: 1.2em;
			color: #b3a9a9;
		}
		.contact {
			padding-top: 30px;
		}
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

